{% include "header.html" %}
<h2> Rangliste </h2>
<h3> Steibock Challenge </h3>
<p>Nice du hast mit deinen gefahren Kilometern {{ steinbock_remo }} Steinböcke gesammelt.


<br>
    Remo du bist {{ summe_km_remo }} km gefahren</p>

<p>Nice du hast mit deinen gefahren Kilometern {{ steinbock_rahel }} Steinböcke gesammelt.


<br>
    Rahel du bist {{ summe_km_rahel }} km gefahren</p>
<br>
<p>Nice du hast mit deinen gefahren Kilometern {{ steinbock_moni }} Steinböcke gesammelt.


<br>
    Moni du bist {{ summe_km_moni }} km gefahren</p>
<br>
<p>Nice du hast mit deinen gefahren Kilometern {{ steinbock_vroni }} Steinböcke gesammelt.


<br>
    Vroni du bist {{ summe_km_vroni }} km gefahren</p>




</body>
</html>