{% include "header.html" %}
<div class="container">
<h2> Rangliste </h2><br>
<h3> Steinbock Challenge </h3>
<p>Nice Remo du bist {{ summe_km_remo }} km gefahren und hast {{ steinbock_remo }} Steinböcke gesammelt.
<br>
    </p>
<br>
<p>Nice Rahel du bist {{ summe_km_rahel }} km gefahren und hast {{ steinbock_rahel }} Steinböcke gesammelt.
    </p>
<br>
<p>Nice Moni du bist {{ summe_km_moni }} km gefahren und hast {{ steinbock_moni }} Steinböcke gesammelt.
    </p>

<br>

<p>Nice Vroni du bist {{ summe_km_vroni }} km gefahren und hast {{ steinbock_vroni }} Steinböcke gesammelt.
    </p>
</div>

</body>
</html>