{% include "header.html" %}
<div class="container">
<h3> Rangliste Steinbock Challenge </h3><br>

<p>Nice Remo du bist {{ summe_km_remo }} km gefahren und hast {{ steinbock_remo }} Steinböcke gesammelt.
<br>
    </p>

<p>Nice Rahel du bist {{ summe_km_rahel }} km gefahren und hast {{ steinbock_rahel }} Steinböcke gesammelt.
   <br></p>

<p>Nice Moni du bist {{ summe_km_moni }} km gefahren und hast {{ steinbock_moni }} Steinböcke gesammelt.
    <br></p>

<p>Nice Vroni du bist {{ summe_km_vroni }} km gefahren und hast {{ steinbock_vroni }} Steinböcke gesammelt.
    </p>
</div>
<p> liste: {{ list }} </p>
</body>
