<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>VeloMio Challenge</title>
</head>
<body>
<div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link">Dateneingabe</a></li>
            <li class="nav-item"><a href="/berechnung" class="nav-link">Berechnung</a></li>
            <li class="nav-item"><a href="/regeln" class="nav-link">Regeln der Challange</a></li>
          </ul>
        </header>
</div>
