{% include "header.html" %}
<div class="container">

    <main><h3> 💙-willkommen </h3></main>  <!-- mit title funktioniert es nicht -->
    <h5>Velo Mio Challange bei Sportbenzin.ch</h5>  <br>

   <h6>Und so funktioniert das Spiel</h6>
    <ol class="list-group list-group-numbered py-1 ">
        <li class="list-group-item-dark">Geniesse es draussen zu sein und fahre Rad</li>
        <li class="list-group-item-secondary"> Im Reiter Formular trage deine Daten ein</li>
        <li class="list-group-item-dark"> Rangliste von Sportbenzin</li>
        <li class="list-group-item-secondary">Datensammlung</li>
    </ol>

</body>
